@using AnimeRecs.RecService.ClientLib
@using AnimeRecs.RecEngine
@using AnimeRecs.Web
@using AnimeRecs.Web.Models.ViewModels
@model GetRecsViewModel<IEnumerable<MostPopularRecommendation>>

<table class="recsTable">
    <thead>
        <tr>
            <td>
                Anime
            </td>
            <td>
                Type
            </td>
            <td>
                Popularity Index
            </td>
            <td>
                Popularity Rank
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (MostPopularRecommendation rec in Model.Results)
        {
            <tr>
                <td>
                    @Html.GetRecommendedMalAnimeHtml(rec.ItemId, Model.AnimeInfo[rec.ItemId].Title)
                </td>
                <td>
                    @Html.MalAnimeTypeAsString(Model.AnimeInfo[rec.ItemId].Type)
                </td>
                <td>
                    @rec.NumRatings
                </td>
                <td>
                    #@rec.PopularityRank
                </td>
            </tr>
        }
    </tbody>
</table>

@*
Copyright (C) 2012 Greg Najda

This file is part of AnimeRecs.Web.

AnimeRecs.Web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

AnimeRecs.Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with AnimeRecs.Web.  If not, see <http://www.gnu.org/licenses/>.
*@