<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=testpw;Database=animerecs_small;Timeout=60;"/>
  </connectionStrings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="AsyncWrapper" name="AsyncFile" timeToSleepBetweenBatches="200">
        <target xsi:type="AutoFlushWrapper" name="AutoflushFile">
          <target xsi:type="File" name="File" keepFileOpen="true" concurrentWrites="false"
                  fileName="C:\Users\Greg\AppData\Roaming\AnimeRecs\recservice_asdf_${shortdate}.log"
                  layout="${longdate}|${level:uppercase=true:padding=-5}|${threadname:padding=-20}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}"/>
        </target>
      </target>
      <target xsi:type="AsyncWrapper" name="AsyncConsole">
        <!-- Make console logging async because multiple threads could be logging at once. Async will serialize them(?) -->
        <target xsi:type="Console" name="Console" layout="${message}"/>
      </target>
    </targets>
    <rules>
      <!-- Do not log client lib stuff used connecting to self to load rec sources on startup. -->
      <logger name="AnimeRecs.RecService.ClientLib" minlevel="Trace" final="true" />
      <logger name="*" minlevel="Debug" writeTo="AsyncFile"/>
      <logger name="*" minlevel="Info" writeTo="AsyncConsole"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>