@model ErrorViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <span>Sorry, something went wrong when we were making this page for you. :(</span>
</body>
</html>
