<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="RecommendorFilePath" value="C:\Users\Greg\AppData\Roaming\AnimeRecs\recommendors.json"/>
    <add key="DelayBetweenRequestsMs" value="20000"/>
  </appSettings>
  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://localhost/?fsync=true;connectTimeoutMS=10000;socketTimeoutMS=5000"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!-- Lets us use the old NLog 1 Common.Logging adapter with NLog 2. -->
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogToConsole="true">
    <targets async="true">
        <target name="File" xsi:type="File" keepFileOpen="true" concurrentWrites="false" fileName="C:\Users\Greg\AppData\Roaming\AnimeRecs\UpdateRecommendorCache.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="File" />
    </rules>
  </nlog>
</configuration>