<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="RecommendorFilePath" value="C:\Users\Greg\AppData\Roaming\AnimeRecs\recommendors.json"/>
    <add key="DelayBetweenRequestsMs" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://localhost/?fsync=true;connectTimeoutMS=10000;socketTimeoutMS=5000"/>
  </connectionStrings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="File" name="File" keepFileOpen="true" concurrentWrites="false" fileName="C:\Users\Greg\AppData\Roaming\AnimeRecs\UpdateRecommendorCache.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}" />
      <target xsi:type="Console" name="Console" layout="${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="File" />
      <logger name="*" minlevel="Info" writeTo="Console" />
    </rules>
  </nlog>
</configuration>