<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=testpw;Database=animerecs;Timeout=10;" />
  </connectionStrings>
  <appSettings>
    <add key="DelayBetweenRequestsMs" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MalTimeoutInMs" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MalApiUserAgentString" value="mal-cache-updater" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UsersPerRun" value="100" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MaxUsersInDatabase" value="5000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MinimumAnimesCompletedAndRated" value="50" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NumMalRequestFailuresBeforeGivingUp" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DelayAfterMalRequestFailureInMs" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xdt:Transform="Insert" xsi:type="AsyncWrapper" name="AsyncFile" timeToSleepBetweenBatches="200">
        <target xsi:type="AutoFlushWrapper" name="AutoflushFile">
          <target xsi:type="File" name="File" keepFileOpen="true" concurrentWrites="false" archiveEvery="Day"
                  fileName="${specialfolder:folder=ApplicationData}\AnimeRecs\FreshenMalDatabase_${shortdate}.log"
                  layout="${longdate}|${level:uppercase=true:padding=-5}|${threadname:padding=-20}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}"/>
        </target>
      </target>
    </targets>
    <rules>
      <logger xdt:Transform="Insert" name="*" minlevel="Debug" writeTo="AsyncFile"/>
    </rules>
  </nlog>
</configuration>