<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogToConsoleError="true"
      internalLogFile="internal-nlog.log">

  <!-- Careful, internalLogFile above is relative to the current working directory, not the application base directory. -->

  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncFile" timeToSleepBetweenBatches="200">
      <target xsi:type="AutoFlushWrapper" name="AutoflushFile">
        <target xsi:type="File" name="File" keepFileOpen="true" concurrentWrites="false" archiveEvery="Day" encoding="utf-8" lineEnding="LF" cleanupFileName="false"
                fileName="${basedir}/FreshenMalDatabase_${shortdate}.log"
                layout="${longdate}|${level:uppercase=true:padding=-5}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}"/>
      </target>
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncConsole" timeToSleepBetweenBatches="200">
      <target xsi:type="Console" name="Console" layout="${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="AsyncConsole,AsyncFile"/>
  </rules>
</nlog>