<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net45" />
  <package id="Common.Logging.NLog31" version="2.3.1" targetFramework="net45" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net451" />
  <package id="MalApi" version="2.2.2" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="Npgsql" version="2.2.2" targetFramework="net45" />
  <package id="SlowMonkey" version="1.0.0" targetFramework="net45" />
</packages>