<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=testpw;Database=animerecs;Timeout=60;" />
  </connectionStrings>
  <appSettings>
    <add key="Diagnostics.EnableDiagnosticsDashboard" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Diagnostics.DiagnosticsDashboardPassword" value="diag" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Diagnostics.ShowErrorTraces" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <add key="Hosting.HandleStaticContent" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Hosting.Port" value="8888" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <add key="AnimeListCacheExpiration.Minutes" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <!-- Must be less than 60 -->
    <add key="AnimeListCacheExpiration.Seconds" value="30" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Change this setting if using a non-default port for the rec service -->
    <!--<add key="RecService.Port" value="5541"/>-->

    <!-- RecService.RecSourceName.Port will change the port used for a specific rec source from the port specified above or from the default.
         This can be useful if you want to use different databases for certain rec sources. -->
    <!--<add key="RecService.AverageScore.Port" value="5542"/>-->

    <!-- Rec source to use when the user does not explicitly specify it. -->
    <add key="RecService.DefaultRecSource" value="default" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Maximum recommenders to return when using an AnimeRecs rec source -->
    <add key="MaximumRecommendersToReturn" value="6" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Maximum recommendations to return when using a non-AnimeRecs rec source -->
    <add key="MaximumRecommendationsToReturn" value="60" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <add key="DefaultTargetPercentile" value="35" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- If MAL.API is set to "DB", use a local database instead of going to MAL.
    Useful if you don't want to hit MAL. For example, if you're on the train without internet access. -->
    <add key="MalApi.API" value="DB" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <add key="MalApi.UserAgentString" value="AnimeRecs-development" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MalApi.TimeoutInMs" value="5000" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <add key="ClubMalLink" value="http://myanimelist.net/clubs.php?cid=33431" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!--
    A good place to put Google Analytics code.
    
    These characters must be escaped in the value of HtmlBeforeBodyEnd:
    & = &amp;
    < = &lt;
    > = &gt;
    " = &quot;
    ' = &apos;
    -->
    <add key="HtmlBeforeBodyEnd" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
</configuration>