<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=testpw;Database=animerecs;Timeout=60;" />
  </connectionStrings>
  
  <animerecs xdt:Transform="Replace" >
    <algorithms default="Classic">
      <algorithm displayName="Classic" recServiceName="animerecs" />
      <algorithm displayName="Classic With Details" recServiceName="animerecs" details="true" targetScoreNeeded="true" />
      <algorithm displayName="Highest Rated" recServiceName="averagescore" />
      <algorithm displayName="Most Popular" recServiceName="mostpopular" />
      <algorithm displayName="Biased Matrix Factorization" recServiceName="biasedmatrixfactorization" />
    </algorithms>
    
    <diagnostics enableDashboard="true" dashboardPassword="diag" showErrorTraces="true" xdt:Transform="Replace" />
    
    <hosting handleStaticContent="true" port="8888" xdt:Transform="Replace" />
    
    <malApi timeout="0:00:05" cacheExpiration="0:00:30" type="DB" userAgentString="AnimeRecs-development" xdt:Transform="Replace" />
    
    <recommendations maxRecommendersToReturn="6" maxRecommendationsToReturn="60" defaultTargetPercentile="35" xdt:Transform="Replace" />
    
    <recService xdt:Transform="Replace" />
    
    <html clubMalLink="http://myanimelist.net/clubs.php?cid=33431" htmlBeforeBodyEnd="" xdt:Transform="Replace" />
  </animerecs>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xdt:Transform="Insert" xsi:type="AsyncWrapper" name="AsyncFile" timeToSleepBetweenBatches="200">
        <target xsi:type="AutoFlushWrapper" name="AutoflushFile">
          <target xsi:type="File" name="File" keepFileOpen="true" concurrentWrites="false" archiveEvery="Day" fileName="${specialfolder:folder=ApplicationData}/AnimeRecs/web_${shortdate}.log" layout="${longdate}|${level:uppercase=true:padding=-5}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}" />
        </target>
      </target>
      <target xdt:Transform="Insert" xsi:type="Console" name="Console" layout="${time}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}" />
    </targets>
    <rules>
      <logger xdt:Transform="Insert" name="*" minlevel="Debug" writeTo="AsyncFile" />
      <logger xdt:Transform="Insert" name="*" minlevel="Info" writeTo="Console" />
    </rules>
  </nlog>
</configuration>