<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <connectionStrings>
    <add name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=testpw;Database=animerecs;Timeout=60;"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="AnimeListCacheExpiration.Minutes" value="0"/> <!-- Must be less than 60 -->
    <add key="AnimeListCacheExpiration.Seconds" value="30"/>

    <!-- Change this setting if using a non-default port for the rec service -->
    <!--<add key="RecService.Port" value="5541"/>-->
    
    <!-- RecService.RecSourceName.Port will change the port used for a specific rec source from the port specified above or from the default.
         This can be useful if you want to use different databases for certain rec sources. -->
    <!--<add key="RecService.AverageScore.Port" value="5542"/>-->
    
    <!-- Rec source to use when the user does not explicitly specifiy it. -->
    <add key="RecService.DefaultRecSource" value="default"/>

    <!-- Maximum recommenders to return when using an AnimeRecs rec source -->
    <add key="MaximumRecommendersToReturn" value="6"/>

    <!-- Maximum recommendations to return when using a non-AnimeRecs rec source -->
    <add key="MaximumRecommendationsToReturn" value="60"/>

    <add key="DefaultTargetPercentile" value="35"/>

    <add key="MalApi.UserAgentString" value="AnimeRecs-development"/>
    <add key="MalApi.TimeoutInMs" value="5000"/>

    <!-- If MAL.API is set to "DB", use a local database instead of going to MAL.
    Useful if you don't want to hit MAL. For example, if you're on the train without internet access. -->
    <!--<add key="MalApi.API" value="DB"/>-->

    <add key="OwnerMalLink" value="http://myanimelist.net/profile/LordHighCaptain"/>

    <!--
    A good place to put Google Analytics code.
    
    These characters must be escaped in the value of HtmlBeforeBodyEnd:
    & = &amp;
    < = &lt;
    > = &gt;
    " = &quot;
    ' = &apos;
    -->
    <add key="HtmlBeforeBodyEnd" value=""/>
  </appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--<targets async="true">
      <target xsi:type="File" name="File" keepFileOpen="true" concurrentWrites="false"
                fileName="C:\Users\Greg\AppData\Roaming\AnimeRecs\web_${shortdate}.log"
                layout="${longdate}|${level:uppercase=true:padding=-5}|${threadname:padding=-20}|${message} ${exception:innerformat=tostring:maxInnerExceptionLevel=10:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="File"/>
    </rules>-->
  </nlog>
    
  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error"></customErrors>
    <httpRuntime enableVersionHeader="false" />
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
