@model AnimeRecs.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Anime Recommendation Finder";
}

<h2 class="header">Anime Recommendation Finder</h2>

<label for="malUserId">myanimelist.net username <input type="text" id="malUserId" name="malUserId" /> </label>
<label for="goodCutoff">Minimum score for an anime you watched to be considered "good" <input type="text" id="goodCutoff" name="goodCutoff" size="2" value="8"/> </label>
<label for="okCutoff">Minimum score for an anime you watched to be considered "ok" <input type="text" id="okCutoff" name="okCutoff" size="2" value="7"/> </label>
<input type="button" id="malButton" value="Get recommendations"/>
<input type="button" id="malPercentileButton" value="Figure out my minimum scores for me"/>

<div id="loadingImageDiv"></div>
<div id="results"></div>
<script type="text/javascript" src="@Url.Content("~/Scripts/AnimeRecs.dart.app.js")"></script>