@model AnimeRecs.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Anime recommendation finder";
}

<h2 class="header">Anime Recommendation finder</h2>

<label for="malUserId">myanimelist.net username <input type="text" id="malUserId" name="malUserId" /> </label>
<label for="goodCutoff">Minimum score for an anime you watched to be considered "recommended" <input type="text" id="goodCutoff" name="goodCutoff" size="2"/> </label>
<label for="okCutoff">Minimum score for an anime you watched to be considered "ok" <input type="text" id="okCutoff" name="okCutoff" size="2"/> </label>
<input type="button" id="malButton" value="Get recommendations"/>

<div id="results">
    Your best matches are
    <ol class="matchList">
        <li>
            <a href="http://myanimelist.net/animelist/LordHighCaptain" class="recommendor">LordHighCaptain</a> <span class="compatibilityRating">(68.15%)</span>
            <ol class="recommendationList">
                <li>
                    <a href="http://myanimelist.net/anime/486/Kino_no_Tabi:_The_Beautiful_World" class="recommendation">Kino's Journey</a> <span class="recommendationRating">(10)</span>
                </li>
                <li>
                    <a href="http://myanimelist.net/anime/329/Planetes" class="recommendation">Planetes</a> <span class="recommendationRating">(10)</span>
                </li>
                <li>
                    <a href="http://myanimelist.net/anime/121/Fullmetal_Alchemist" class="recommendation">Fullmetal Alchemist</a> <span class="recommendationRating">(9)</span>
                </li>
            </ol>
        </li>
        <li>
            <a href="http://myanimelist.net/animelist/TheAlmightyMoo" class="recommendor">TheAlmightyMoo</a> <span class="compatibilityRating">(68.15%)</span>
            <ol class="recommendationList">
                <li>
                    <a href="http://myanimelist.net/anime/486/Kino_no_Tabi:_The_Beautiful_World" class="recommendation">Kino's Journey</a> <span class="recommendationRating">(10)</span>
                </li>
                <li>
                    <a href="http://myanimelist.net/anime/329/Planetes" class="recommendation">Planetes</a> <span class="recommendationRating">(10)</span>
                </li>
                <li>
                    <a href="http://myanimelist.net/anime/121/Fullmetal_Alchemist" class="recommendation">Fullmetal Alchemist</a> <span class="recommendationRating">(9)</span>
                </li>
            </ol>
        </li>
        <li>
            <a href="http://myanimelist.net/animelist/YamiNoSenshi" class="recommendor">YamiNoSenshi</a> <span class="compatibilityRating">(68.15%)</span>
            <ol class="recommendationList">
                <li>
                    <a href="http://myanimelist.net/anime/486/Kino_no_Tabi:_The_Beautiful_World" class="recommendation">Kino's Journey</a> <span class="recommendationRating">(10)</span>
                </li>
                <li>
                    <a href="http://myanimelist.net/anime/329/Planetes" class="recommendation">Planetes</a> <span class="recommendationRating">(10)</span>
                </li>
                <li>
                    <a href="http://myanimelist.net/anime/121/Fullmetal_Alchemist" class="recommendation">Fullmetal Alchemist</a> <span class="recommendationRating">(9)</span>
                </li>
            </ol>
        </li>
    </ol>
</div>
<script type="text/javascript" src="Scripts/AnimeRecs.dart.app.js"></script>