<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=testpw;Database=animerecs;Timeout=60;"/>
  </connectionStrings>
  <appSettings>
    <!-- If MAL.API is set to "DB", use a local database instead of going to MAL.
    Useful if you don't want to hit MAL. For example, if you're on the train without internet access. -->
    <!--<add key="MAL.API" value="DB"/>-->
  </appSettings>
</configuration>