<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.NLog20" version="2.2.0" targetFramework="net451" />
  <package id="FluentValidation" version="5.4.0.0" targetFramework="net45" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net451" />
  <package id="MalApi" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Owin" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Validation.FluentValidation" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>